beautifulsoup4==4.10.0
ffmpeg-python==0.2.0
httpx==0.22.0
lyricsgenius==3.0.1
moviepy==1.0.3
mutagen==1.45.1
mypy==0.941
mypy-extensions==0.4.3
pafy==0.5.5
pygame==2.1.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.2
python-vlc==3.0.16120
pytube==12.0.0
requests==2.25.1
spotipy==2.19.0
SQLAlchemy==1.4.31
tkdesigner==1.0.4
typing_extensions==4.1.1
urllib3==1.26.7
youtube-dl==2020.12.2
config==0.5.1